.wap_introduct{
    .top_introduct{
        display: flex;
        .image_introduct{
            position: relative;
            width: 300px;
            height: 500px;
            img{
                width: 300px;
                height: 427px;
            }
            .view{
                top: 380px;
                position: absolute;
                width: 300px;
                height: 46px;
                background-color: rgba(0,0,0,0.5);
                align-content: center;
                .view_now{
                    text-decoration: none;
                    color: #fff;
                }
                p{
                    background-color: red;
                    height:30px;
                    width: 100px;
                    margin: 0 auto;
                    margin-top: 10px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }

        }
        .info_introduct{

            padding-left: 40px;
            // height: 428px;
            p{
                margin-bottom: 7.5px;
            }
            .name{
                font-size: 25px;
                font-weight: 500;
            }
            .time{
                font-size: 22px;
                font-weight: 500;
            }
            .status{
                font-size: 18px;
                span{
                    color: red;
                    font-weight: 500;
                }
            }
            .director,.actor,.type{
                font-size: 18px;
                span{
                    color: blue;
                }
            }
            .evaluate{
                display: flex;
                .number_star_tb{
                    color: rgb(151, 26, 135);
                    font-size: 30px;
                    background-color: #fff;
                    font-weight: 500;
                    border: 0.5px solid black;
                    width: 75px;
                    height: 75px;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 75px;
                    margin-right: 10px;
                }
            }

        }
    }
}
.content_film{
    margin-bottom: 20px;
    .icon_content{
        font-size: 30px;
        color: blueviolet;
        margin-bottom: 25px;
       
    }
    .content{
        font-weight: 400;
        margin-bottom: 20px;
    }
    .content_image{
        width: 95%;
        height: 400px;
        margin-left: 50%;
        transform: translate(-50%);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
.share{
    
    .facebook{
        background: #ff6500;
        border-radius: 5px;
        color: #fff;
        padding: 3px 5px;
        cursor: pointer;
        width: 90px;
        height: 36px;
        display: block;
        text-align: center;
        line-height: 30px;
        &:hover{
            opacity: 0.5;
        }
    }
}

.wap_comment{
    padding: 20px 0;
    border-top: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    margin-top: 20px;
    .count_comment{
        margin-top: 10px;
        font-weight: 500;
    }

    .comments{
        display: flex;
        margin-top: 30px;
        .avatar_comment{
            margin-right: 20px;
            width: 50px;
            height: 50px;
            background: #ccc;
            color: #fff;
            text-align: center;
            line-height: 50px;
            border-radius: 100%;
        }
        .input_comment{
            width: 90%;
            input{
                height: 90px;
                width: 100%;
                border: 0.5px solid #ccc;
                &:focus-visible{
                    outline: none;
                }
            }
            button{
                margin-top: 10px;
                border: 0.5 solid #000;
                border-radius: 2px;
                
    
            }
        }
        
    }
    .display_comment{
        margin-top: 20px;
        display: flex;
        .content_display{
           margin-left: 30px;
           .name_user{
            color: #385898;
            cursor: pointer;
            font-weight: 600;
            white-space: nowrap;
           }
           .content_comment_display{
               font-size: 14px;
               font-weight: 500;
           }
        }
    }
}


